@model WizardsWeb.ModelViews.Properties.StatisticsModelView

<h4>Statistics</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        Rank Points<br/><hr/>
        Total match played<br/>
        Total match won<br/>
        Total match lost<br/><hr/>
        Win ratio
    </div>
    <div class="col-md-4">
        @Model.RankPoints<br/><hr/>
        @Model.TotalMatchPlayed<br/>
        @Model.TotalMatchWin<br/>
        @Model.TotalMatchLoose<br/><hr/>
        @Model.GetWinRatio()
    </div>
</div>