@model WizardsWeb.ModelViews.HeroModelViews.Properties.HeroAttributesModelView


<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item justify-content-center bg-paper-header">
                <div class="text-center">
                    <h4 class="my-0 font-weight-bold">
                        Hero attributes
                    </h4>
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <label class="font-weight-bolder h5" asp-for="DailyRewardEnergy"></label>
                <span class="font-weight-bolder h5">@($"{Model.DailyRewardEnergy:##,##0}")</span>
            </li>

            <li class="list-group-item bg-paper-color">
                <div class="d-flex justify-content-between">
                    <label asp-for="Damage"></label>
                    <span class="@Model.GetAttributeValueColor(Model.Damage) font-weight-bold">@($"{Model.Damage:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label asp-for="Precision"></label>
                    <span class="@Model.GetAttributeValueColor(Model.Precision) font-weight-bold">@($"{Model.Precision:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label asp-for="Specialization"></label>
                    <span class="@Model.GetAttributeValueColor(Model.Specialization) font-weight-bold">@($"{Model.Specialization:##,##0}")</span>
                </div>
            </li>

            <li class="list-group-item bg-paper-color">
                <div class="d-flex justify-content-between">
                    <label asp-for="MaxHealth"></label>
                    <span class="@Model.GetAttributeValueColor(Model.MaxHealth) font-weight-bold">@($"{Model.MaxHealth:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label asp-for="Reflex"></label>
                    <span class="@Model.GetAttributeValueColor(Model.Reflex) font-weight-bold">@($"{Model.Reflex:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label asp-for="Defense"></label>
                    <span class="@Model.GetAttributeValueColor(Model.Defense) font-weight-bold">@($"{Model.Defense:##,##0}")</span>
                </div>
            </li>
            
           
        </ul>
    </div>
</div>