@model WizardsWeb.ModelViews.HeroModelViews.Properties.StatisticsModelView

<h4>Statistics</h4>
<hr />
<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <label asp-for="RankPoints"></label>
        </div>
        <div class="col-md-4">
            @($"{Model.RankPoints:##,##0}")
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <label asp-for="TotalMatchPlayed"></label>
        </div>
        <div class="col-md-4">
            @($"{Model.TotalMatchPlayed:##,##0}")
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label asp-for="TotalMatchWin"></label>
        </div>
        <div class="col-md-4">
            @($"{Model.TotalMatchWin:##,##0}")
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label asp-for="TotalMatchLoose"></label>
        </div>
        <div class="col-md-4">
            @($"{Model.TotalMatchLoose:##,##0}")
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <label asp-for="WinRatio"></label>
        </div>
        <div class="col-md-4">
            @Model.WinRatio
        </div>
    </div>
</div>
