@model WizardsWeb.ModelViews.HeroModelViews.Properties.StatisticsModelView

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item justify-content-center bg-paper-header">
                <div class="text-center">
                    <h4 class="my-0 font-weight-bold">
                        Hero statistics
                    </h4>
                </div>
            </li>

            <li class="list-group-item bg-paper-color">
                <div class="d-flex justify-content-between">
                    <label class="font-weight-bolder h5" asp-for="RankPoints"></label>
                    <span class="font-weight-bolder h5">@($"{Model.RankPoints:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label class="font-weight-bolder h5" asp-for="WinRatio"></label>
                    <span class="font-weight-bolder h5">@Model.WinRatio</span>
                </div>
            </li>

            <li class="list-group-item bg-paper-color">
                <div class="d-flex justify-content-between">
                    <label asp-for="TotalMatchPlayed"></label>
                    <span class="text-black font-weight-bold">@($"{Model.TotalMatchPlayed:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label asp-for="TotalMatchWin"></label>
                    <span class="text-success font-weight-bold">@($"{Model.TotalMatchWin:##,##0}")</span>
                </div>
                <div class="d-flex justify-content-between">
                    <label asp-for="TotalMatchLoose"></label>
                    <span class="text-danger font-weight-bold">@($"{Model.TotalMatchLoose:##,##0}")</span>
                </div>
            </li>
        </ul>
    </div>
</div>