@model WizardsWeb.ModelViews.HeroModelViews.Properties.HeroAttributesModelView


<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h5 class="my-0 font-weight-bold">
                        Hero attributes
                    </h5>
                </div>
            </li>


            <li class="list-group-item d-flex justify-content-between lh-sm">
                <label asp-for="DailyRewardEnergy"></label>
                @($"{Model.DailyRewardEnergy:##,##0}")
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                <label asp-for="Damage"></label>
                @($"{Model.Damage:##,##0}")

            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                        <label asp-for="Precision"></label>
                        @($"{Model.Precision:##,##0}")
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                        <label asp-for="Specialization"></label>
                        @($"{Model.Specialization:##,##0}")
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                        <label asp-for="MaxHealth"></label>
                        @($"{Model.MaxHealth:##,##0}")
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                        <label asp-for="Reflex"></label>
                        @($"{Model.Reflex:##,##0}")
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm">
                        <label asp-for="Defense"></label>
                        @($"{Model.Defense:##,##0}")
            </li>
        </ul>
    </div>
</div>
