@model WizardsWeb.ModelViews.Properties.HeroAttributesModelView

<h4>Attributes</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        Daily Reward Energy<br/><hr/>
        Damage<br/>
        Precision<br/>
        Specialization<br/><hr/>
        Health<br/>
        Reflex<br/>
        Defense
    </div>
    <div class="col-md-4">
        @Model.DailyRewardEnergy<br/><hr/>
        @Model.Damage<br/>
        @Model.Precision<br/>
        @Model.Specialization<br/><hr/>
        @Model.Health<br/>
        @Model.Reflex<br/>
        @Model.Defense
    </div>
</div>