@model WizardsWeb.ModelViews.HeroDetailsModelView

@{
    ViewData["Title"] = $"{Model.Basics.NickName}";
}

<div class="row">
    <div class="col-md-5">
        <partial name="_HeroBasicPresentation" model="@Model.Basics"/><br/>
        <a type="button" class="btn btn-primary" asp-action="EditNickName" asp-route-id="@Model.Id" asp-route-playerId="@Model.PlayerId">
            Edit Name
        </a>
        <a type="button" class="btn btn-primary" asp-action="EditAvatar" asp-route-id="@Model.Id" asp-route-playerId="@Model.PlayerId">
            Edit Avatar
        </a>
    </div>
    <div class="col-md-3">
        <a type="button" class="btn btn-warning" asp-action="Equipment">Equipment</a><br /><br />
        <a type="button" class="btn btn-warning" asp-action="Merchant">Merchant</a><br /><br />
        <a type="button" class="btn btn-warning" asp-controller="Player" asp-action="Details" asp-route-id="@Model.PlayerId">Back to Hero choice</a><br /><br />
        <a type="button" class="btn btn-warning" asp-action="ArenaPvP">PvP Arena</a><br /><br />
    </div>
    <div class="col-md-4">
        <partial name="_HeroAttributes" model="Model.Attributes"/><br/><br/>
        <partial name="_HeroStatistics" model="Model.Statistics"/>
    </div>
</div>