@model IEnumerable<WizardsWeb.ModelViews.ItemModelViews.ItemDetailsModelView>
@using WizardsWeb.Extensions
@using Wizards.Core.Model.UserModels.Enums

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Icon</label>
            </th>
            <th>
                <label asp-for="FirstOrDefault().Name"></label>
            </th>
            <th>
                <label asp-for="FirstOrDefault().Tier"></label>
            </th>
            @if (Model.Any())
            {
                <th>
                    @if (Model.CanShowEndurance())
                    {
                        <label asp-for="FirstOrDefault().Endurance"></label>
                    }
                    else if (Model.CanShowBuyPrice())
                    {
                        <label asp-for="FirstOrDefault().BuyPrice"></label>
                    }
                    else if (Model.CanShowSellPrice())
                    {
                        <label asp-for="FirstOrDefault().SellPrice"></label>
                    }
                </th>
            }
            <th>
                @if (Model.CanShowRepairEquipmentButton())
                {
                    <button type="button" class="gbtn gbtn-magical gbtn-sm" data-bs-toggle="modal" data-bs-target="#repair-equipped">
                        Repair all equipped
                    </button>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table table-@item.GetItemTierColor()">
                <td>
                    <img src="@item.GetItemIconAddress()" width="50px" height="50px"/>
                </td>
                <td>
                    <span class="font-weight-bold">@item.Name</span>
                    <br class="p-0 m-0"/>
                    <span style="font-size: 14px; font-style: italic">@item.Type.ToString()</span>
                </td>
                <td class="text-center align-middle">
                    <span class="text-center">@($"{item.Tier}")</span>
                </td>
                @if (Model.CanShowEndurance())
                {
                    <td class="text-center align-middle"><partial name="~/Views/Item/_ItemEnduranceBar.cshtml" model="@item" /></td>
                }
                else if (Model.CanShowBuyPrice())
                {
                    <td class="text-center align-middle">@($"{item.BuyPrice:#,##0}")</td>
                }
                else if (Model.CanShowSellPrice())
                {
                    <td class="text-center align-middle">@($"{item.SellPrice:#,##0}")</td>
                }
                <td class="text-center align-middle">
                    <div class="btn-group">
                        <!-- Button trigger modal for Details -->
                    <a class="gbtn gbtn-action gbtn-sm" data-bs-toggle="modal" href="#details-@item.Id">Details</a>

                        @if (item.IsEquipped && !item.IsInMerchantMode && !item.IsMerchantItem)
                        {
                            <a class="gbtn gbtn-danger gbtn-sm" asp-controller="Selector" asp-action="SelectItem" asp-route-id="@item.Id" asp-route-actionName="Unequip">Unequip</a>
                        }
                        else if (!item.IsEquipped && !item.IsInMerchantMode && !item.IsMerchantItem)
                        {
                            <a class="gbtn gbtn-accept gbtn-sm" asp-controller="Selector" asp-action="SelectItem" asp-route-id="@item.Id" asp-route-actionName="Equip">Equip</a>
                        }
                        else if (item.IsInMerchantMode && !item.IsMerchantItem)
                        {
                            <a class="gbtn gbtn-danger gbtn-sm" data-bs-toggle="modal" href="#sell-item-@item.Id">Sell</a>
                        }
                        else if (item.IsMerchantItem)
                        {
                            <a class="gbtn gbtn-accept gbtn-sm" data-bs-toggle="modal" href="#buy-item-@item.CoreItemId">Buy</a>

                            @if (User.IsInRole($"{UserRoles.Admin.ToString()}") || User.IsInRole($"{UserRoles.Moderator.ToString()}"))
                            {
                                <a class="gbtn gbtn-technical gbtn-sm" asp-controller="Item" asp-action="Edit" asp-route-id="@item.CoreItemId">
                                    Edit
                                </a>
                            }
                        }
                    </div>
                </td>
            </tr>
            <partial name="~/Views/Item/_ModalsForItemIndexDetails.cshtml" model="@item" />
        }
    </tbody>
</table>