@using Wizards.Core.Model.UserModels.Enums
@model WizardsWeb.ModelViews.CombatModelViews.HeroSkillModelView

<div class="pop-up-trigger">
    <div class="pop-up-container">
        <div class="row text-center">
            <h5>@Model.Name</h5>
            <h6>@Model.Type</h6>
        </div>
        <hr>
        @if (Model.Description.Length > 0)
        {
            <p>@Model.Description</p>
            <hr>
        }

        @if (Model.Damage > 0)
        {
            <div class="row">
                <div class="col-8">Damage</div>
                <div class="col-4">@Model.Damage</div>
            </div>
        }
        @if (Model.HitChance > 0)
        {
            <div class="row">
                <div class="col-8">Chance to hit</div>
                <div class="col-4">@($"{Model.HitChance}%")</div>
            </div>
        }
        @if (Model.ArmorPenetrationPercent > 0)
        {
            <div class="row">
                <div class="col-8">Armor overpass</div>
                <div class="col-4">@($"{Model.ArmorPenetrationPercent}%")</div>
            </div>
        }
        @if (Model.Healing > 0)
        {
            <div class="row">
                <div class="col-8">Healing</div>
                <div class="col-4">@Model.Healing</div>
            </div>
        }
        @if (Model.Type == HeroSkillType.Block)
        {
            <div class="row">
                <div class="col-12">Blocking skill</div>
            </div>
            <div class="row">
                <div class="col-12">Has no effect on enemy charge</div>
            </div>

        }
        @if (Model.Type == HeroSkillType.CounterAttack)
        {
            <div class="row">
                <div class="col-12">Countering skill</div>
            </div>
            <div class="row">
                <div class="col-12">Stuns if successfully counters enemy charge</div>
            </div>
        }
        <hr>
    </div>
</div>