@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WizardsWeb.ModelViews.PlayerModelViews.PlayerDetailsModelView

<div class="row">
    <div class="col">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between bg-paper-color">
                <div>
                    <div>
                        <h5 class="my-0 font-weight-bold">
                            Player's Heroes
                        </h5>
                        <hr />
                        <a type="button" class="gbtn gbtn-action" asp-controller="Hero" asp-action="StartCreation">Create New Hero</a>
                    </div>
                </div>
            </li>

            <table class="table table-borderless table-hover bg-paper-color">
                <thead>
                    <tr>
                        <th class="text-center">
                            <label asp-for="Heroes.First().AvatarImageNumber">Avatar</label>
                        </th>
                        <th class="text-center">
                            <label asp-for="Heroes.First().Profession">Profession</label>
                        </th>
                        <th class="text-center">
                            <label asp-for="Heroes.First().NickName">Nick Name</label>
                        </th>
                        <th class="text-center">
                            <label>Basic information</label>
                        </th>
                        <th class="text-center">
                           <label>Options</label>
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach (var hero in Model.Heroes)
                    {
                        var avatar = $"Images/Hero/Avatars/Wizard-{hero.AvatarImageNumber}.png";
                        <tr>
                            <td class="align-middle">
                                <img src="~/@avatar" width="150px" height="auto" />
                            </td>
                            <td class="align-middle text-center">
                                <img src="~/Images/Hero/Professions/@(hero.Profession).png" width="80px" height="80px"/>
                                <br class="p-0 m-0"/>
                                <span>@hero.Profession</span>
                            </td>
                            <td class="align-middle font-weight-bold">
                                @hero.NickName
                            </td>
                            <td class="align-middle">
                                <span>Remaining energy: @hero.Attributes.DailyRewardEnergy</span>
                                <br class="px-1 m-0"/>
                                <span>Gold: @($"{hero.Gold:#,##0}")</span>
                                <br class="px-1 m-0"/>
                            </td>
                            <td class="align-middle text-right">
                                    <a type="button" class="gbtn gbtn-magical" asp-controller="Selector" asp-action="SelectHero" asp-route-id="@hero.Id" asp-route-actionName="Details">
                                        Play Character
                                    </a>
                                    <a type="button" class="gbtn gbtn-danger" asp-controller="Selector" asp-action="SelectHero" asp-route-id="@hero.Id" asp-route-actionName="Delete">
                                        Delete
                                    </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </ul>
    </div>
</div>